
@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?84536216');
    src: url('font/fontello.eot?84536216#iefix') format('embedded-opentype'),
    url('font/fontello.woff2?84536216') format('woff2'),
    url('font/fontello.woff?84536216') format('woff'),
    url('font/fontello.ttf?84536216') format('truetype'),
    url('font/fontello.svg?84536216#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Improve compatibility with older browsers */
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0px;
  border-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 1.75rem 0 1.75rem 0;
}

td, th {
  padding: 0.25rem 0.5rem;
  text-align: left;
}

thead tr th {
  background-color: #eee;
}

tbody tr:nth-child(even) td,
tbody tr:nth-child(even) th {
  background-color: #f9f9f9;
}

body {
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
}

h1, h2, h3 {
  line-height: 1.25;
  margin-top: 1.4rem;
  margin-bottom: 0.75rem;
}

h1 {
  font-weight: 700;
  font-size: 1.8rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

p, dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0.50rem;
}

a {
  color: #09a;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.85rem;
  color: #555;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0.2em 0.5em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}

pre code {
  font-family: 'Source Code Pro';
  font-size: 0.7rem;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0 0.8rem -1.5rem;
  color: #777;
  border-left: 0.3rem solid #f5f5f5;
}

blockquote p:last-child {
  margin-bottom: 0;
}

header {
  color: #fff;
  background-color: #555;
  min-height: 150px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  text-align: center;
  position: relative;
}

header a {
  color: inherit;
  font-size: 2em;
  padding-right: 10px;
  text-decoration: none;
  transition: color 0.25s ease-in;
  display: inline-block;
  outline: 0;
}

header a:hover {
  color: #0aa;
  text-decoration: none;
}

header #legend {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  font-style: italic;
  position: absolute;
  bottom: 0;
  right: 20px;
}

section h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0;
}

section h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0;
}

footer {
  color: #9eabb3;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  text-align: right;
  margin: 2rem 0 1rem;
}

.icon-github-circled:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  content: '\f09b';
}

.container {
  width: auto;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  float: none;
  display: block;
}

